# Starship nerd font compatible config

"$schema" = "https://starship.rs/config-schema.json"

add_newline = false

format = """
$os\
$username\
$hostname\
$directory\
${custom.giturl}\
$git_branch\
$git_commit\
$git_status\
( [•](bright-black)$all)\
$fill\
$cmd_duration\
$time\
$line_break\
$character
"""

right_format = """
$status\
$shell\
$shlvl
"""

[os]
disabled = false
format = "[$symbol]($style)"
style = "15"

[os.symbols]
Alpine = ""
Android = ""
Arch = ""
CentOS = ""
Debian = ""
Fedora = ""
Kali = ""
Linux = ""
Macos = ""
NixOS = ""
Raspbian = ""
RedHatEnterprise = ""
Redhat = ""
Ubuntu = ""
Unknown = ""
Windows = "󰍲"

[username]
format = " [](bright-black) [$user]($style)"
show_always = false
style_user = "yellow"

[hostname]
format = "@[$hostname]($style)"
ssh_only = true
style = "green"

[directory]
format = " [](bright-black) [$path]($style)[$read_only]($read_only_style)"
read_only = " 󰌾 "
truncate_to_repo = false
truncation_symbol = "../"
before_repo_root_style = "bold cyan"
repo_root_style = "bold yellow"
repo_root_format = ' [](bright-black) [$before_root_path]($before_repo_root_style)[$repo_root]($repo_root_style)[$path]($style)[$read_only]($read_only_style)'

[fill]
symbol = " "

[status]
disabled = false
format = '[$symbol$status(:$signal_name\($signal_number\))]($style) '
map_symbol = true
not_executable_symbol = " "
not_found_symbol = " "
sigint_symbol = "󰹆 "
signal_symbol = " "
style = "red"
symbol = "󰅙 "

[cmd_duration]
format = " [$duration]($style) [•](bright-black) "
min_time = 10_000
style = "yellow"

[time]
disabled = false
format = "[$time]($style)"
style = "bold yellow"

[shell]
bash_indicator = " "
cmd_indicator = " "
disabled = false
fish_indicator = " "
format = "[$indicator]($style)"
powershell_indicator = ""
style = "green"
zsh_indicator = "zsh"

[shlvl]
disabled = false
format = '[\[$shlvl\]]($style)'
style = "white"

[character]
error_symbol = "[](bold red)"
success_symbol = "[](bold green)"
vimcmd_replace_one_symbol = "[⌘](bold yellow)"
vimcmd_replace_symbol = "[⌘](bold yellow)"
vimcmd_symbol = "[⌘](bold blue)"
vimcmd_visual_symbol = "[⌘](bold purple)"

# Git

[git_branch]
format = " [$symbol$branch(:$remote_branch)]($style)"
style = "purple"
symbol = " "

[git_commit]
format = ' [\($hash$tag\)](bold green)'
tag_disabled = false
tag_symbol = "  "

[git_status]
ahead = '[↑$count](192)'
behind = '[↓$count](192)'
conflicted = '[=$count](220)'
deleted = "[×$count](red)"
diverged = ' [↕↑$ahead_count↓$behind_count](208)'
format = " [$all_status$ahead_behind]($style)"
modified = '[!$count](172)'
renamed = "[»$count](105)"
staged = "[+$count](34)"
stashed = '[\$$count](37)'
untracked = '[?$count](45)'

# Languages

[package]
format = " [$symbol( $version)]($style) "
style = "208"
symbol = "󰏗"

[aws]
disabled = true

[buf]
format = " [$symbol( $version)]($style)"
style = "blue"
symbol = ""

[c]
format = " [$symbol( $version(-$name))]($style)"
style = "149"
symbol = ""

[conda]
format = " [$symbol( $environment)]($style) "
style = "green"
symbol = ""

[crystal]
disabled = true
format = " [$symbol( $version)]($style)"
style = "red"
symbol = ""

[dart]
format = " [$symbol( $version)]($style)"
style = "blue"
symbol = ""

[docker_context]
format = " [$symbol$context]($style)"
style = "blue"
symbol = " "

[elixir]
disabled = true
format = " [$symbol( $version \\(OTP $otp_version\\))]($style)"
style = "purple"
symbol = ""

[golang]
format = " [$symbol( $version)]($style)"
style = "cyan"
symbol = ""

[haskell]
disabled = true
format = " [$symbol( $version)]($style)"
style = "purple"
symbol = ""

[haxe]
disabled = true
format = " [$symbol( $version)]($style)"
style = "202"
symbol = ""

[java]
format = " [$symbol( $version)]($style)"
style = "red dimmed"
symbol = ""

[julia]
format = " [$symbol( $version)]($style)"
style = "purple"
symbol = ""

[kotlin]
format = " [$symbol( $version)]($style)"
style = "blue"
symbol = ""

[lua]
format = " [$symbol( $version)]($style)"
style = "blue"
symbol = ""

[meson]
format = " [$symbol( $project)]($style)"
style = "cyan"
symbol = "󰔷"

[nim]
format = " [$symbol( $version)]($style)"
style = "yellow"
symbol = "󰆥"

[nix_shell]
format = " [$symbol$state( \\($name\\))]($style)"
style = "blue"
symbol = " "

[nodejs]
format = " [$symbol( $version)]($style)"
style = "green"
symbol = "󰎙"

[ocaml]
format = " [$symbol( $version)( \\($switch_indicator$switch_name\\))]($style)"
style = "yellow"
symbol = ""

[perl]
format = " [$symbol( $version)]($style)"
style = "149"
symbol = ""

[php]
format = " [$symbol( $version)]($style)"
style = "147"
symbol = "󰌟"

[python]
format = " [$symbol( $pyenv_prefix)( ${version})( \\($virtualenv\\))]($style)"
style = "yellow"
symbol = ""

[rlang]
format = " [$symbol( $version)]($style)"
style = "blue"
symbol = "󰟔"

[ruby]
format = " [$symbol( $version)]($style)"
style = "red"
symbol = ""

[rust]
format = " [$symbol( $version)]($style)"
style = "red"
symbol = "󱘗"

[scala]
format = " [$symbol( $version)]($style)"
style = "red"
symbol = ""

[swift]
format = " [$symbol( $version)]($style)"
style = "202"
symbol = ""

[zig]
format = " [$symbol( $version)]($style)"
style = "yellow"
symbol = ""

[gradle]
format = " [$symbol( $version)]($style)"
style = "bright-cyan"
symbol = ""

# Custom
[custom.giturl]
command = '''
remote_url=$(git remote -v | awk '{print $2}')
if [ -z "$remote_url" ]; then
  exit 1
fi
case "$remote_url" in
  *github*) 
    symbol="" ;;
  *gitlab*)
    symbol="󰮠" ;;
  *bitbucket*)
    symbol="" ;;
  *azure*)
    symbol="" ;;
  *aws*)
    symbol="" ;;
  *gitea*)
    symbol="" ;;
# Work git repo
  *pijush*)
    symbol="󰮠" ;;
  *repo.grameenphone*)
    symbol="" ;;
# Catch-all
  *)
    symbol="󰊢" ;;
esac
echo -e $symbol
'''
description = "Display symbol for remote git url"
format = "[](bright-black)( $output)"
require_repo = true
shell = ["bash", "--noprofile", "--norc"]
when = true

[custom.xcode]
command = '''
xcodebuild -version | awk '/Xcode/{ver=$2} /Build/{build=$3} END{print ver "(" build ")"}'
'''
description = "Displays Xcode icon"
detect_files = ["Package.swift"]
format = " [$symbol]($style)( $output)"
shell = ["bash", "--noprofile", "--norc"]
style = "33"
symbol = ""
when = '''
results=$(find . -maxdepth 1 -type d \
  \( -name "*.xcworkspace" \
  -o -name "*.xcodeproj" \
  -o -name "*.playground" \) \
)
echo $results | grep .
'''

# Disabled
[jobs]
disabled = true

[battery]
disabled = true

[memory_usage]
disabled = true
