/* ~/.config/gtk-3.0/gtk.css */
/* This is the 'legacy' version of GTK3 CSS 
   (when adw-gtk3 is not available) */

button.titlebutton,
windowcontrols > button {
  color: transparent;
  min-width: 15px;
  min-height: 15px;
}

button.titlebutton:backdrop {
  opacity: 0.5;
}

windowcontrols > button {
  border-radius: 100%;
  padding: 0;
  margin: -6px;
}

windowcontrols > button > image {
  padding: 0;
}

button.titlebutton {
  /* margin: -6px; */
}

.titlebar .right {
  margin-right: 8px;
}

.titlebar .left {
  margin-left: 8px;
}

windowcontrols.end {
  margin-right: 8px;
}

windowcontrols.start {
  margin-left: 8px;
}

button.titlebutton.close, 
button.titlebutton.close:hover:backdrop,
windowcontrols > button.close,
windowcontrols > button.close:hover:backdrop {
  background-image: url("close.png");
  background-size: contain;
}

button.titlebutton.close:hover,
windowcontrols > button.close:hover {
  background-image: url("close-hover.png");
  background-size: contain;
}

button.titlebutton.close:active,
windowcontrols > button.close:active {
  background-image: url("close-press.png");
  background-size: contain;
}

button.titlebutton.maximize, 
button.titlebutton.maximize:hover:backdrop,
windowcontrols > button.maximize,
windowcontrols > button.maximize:hover:backdrop {
  background-image: url("maximize.png");
  background-size: contain;
}

button.titlebutton.maximize:hover,
windowcontrols > button.maximize:hover {
  background-image: url("maximize-hover.png");
  background-size: contain;
}

button.titlebutton.maximize:active,
windowcontrols > button.maximize:active {
  background-image: url("maximize-press.png");
  background-size: contain;
}

button.titlebutton.minimize, 
button.titlebutton.minimize:hover:backdrop,
windowcontrols > button.minimize,
windowcontrols > button.minimize:hover:backdrop {
  background-image: url("minimize.png");
  background-size: contain;
}

button.titlebutton.minimize:hover,
windowcontrols > button.minimize:hover {
  background-image: url("minimize-hover.png");
  background-size: contain;
}

button.titlebutton.minimize:active,
windowcontrols > button.minimize:active {
  background-image: url("minimize-press.png");
  background-size: contain;
}

button.titlebutton.close:backdrop, 
button.titlebutton.maximize:backdrop, 
button.titlebutton.minimize:backdrop,
windowcontrols > button.close:backdrop,
windowcontrols > button.maximize:backdrop,
windowcontrols > button.minimize:backdrop {
  background-image: url("backdrop.png");
  background-size: contain;
}
